main {
    padding: 0 20px;
}

main section {
    /* background-color: aqua; */

}

/* 1.brandContent 區塊start*/

.brandContent {
    display: flex;

    gap: 7%;

}

.brandContent:first-child {
    margin-bottom: 40px;
}

.brandContent:nth-child(2) {
    margin-bottom: 95px;
}

.brandContent:nth-child(2) .brandContentDes {
    order: 1;
}

.brandContentDes {
    padding-top: 6.5%;
    width: 39%;
}

.brandContentDes h3 {
    font-size: 30px;
    margin-bottom: 5%;
}

.brandContentDes p {
    font-size: 18px;
    line-height: 1.5;
}

.brandContentDesImg1 {
    width: calc((100% - 37% - 8.333333%));

    aspect-ratio: 664 / 443;
    mask-image: url("../img/brand/blob/brandBlobTopRight.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.brandContentDesimg2 {
    width: calc((100% - 37% - 8.333333%));

    aspect-ratio: 664 / 443;
    mask-image: url("../img/brand/blob/brandBlobBottomLeft.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.brandContentDesImg1 img,
.brandContentDesimg2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 讓圖片填滿遮罩區域 */
    vertical-align: middle;
    /* 消除圖片下方空隙 */
}

@media screen and (max-width:1023px) {
    .brandContent {
        justify-content: space-between;
        gap: 3.5%;

    }

    .brandContentDes {
        width: 50%;
    }

    .brandContent .brandContentDes {
        margin-top: -30px;
    }

    .brandContentDes h3 {
        font-size: 28px;
    }

}

@media screen and (max-width:767px) {
    .brandContent {
        flex-direction: column;
    }


    .brandContentDes {

        width: 100%;
    }

    .brandContentDesImg1 {
        width: 100%
    }

    .brandContentDesimg2 {
        width: 100%
    }

    .brandContentDesimg2 {
        order: 1;
    }


    .brandContent .brandContentDes {
        margin-bottom: 20px;
    }

    .brandContentDes h3 {
        font-size: 26px;
        text-align: center;
    }



}

/* 1.brandContent 區塊end*/

/* 2.brandIcons 區塊start*/

.brandIcons {
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
    margin-bottom: 5%;

}

.brandIcon {
    width: 18%;

}

.brandIconBg {
    margin: 0 auto;

    max-width: 150px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.85%;
}

.brandIconBg img {
    width: 50%;
    vertical-align: bottom;
}

.brandIconBg.natureIcon {
    background-color: #26AE23;
}

.brandIconBg.bakingIcon {
    background-color: #E76FAF;
}

.brandIconBg.localIcon {
    background-color: #F1C309;
}

.brandIconBg.diverseIcon {
    background-color: #F27D2F;
}


.brandIcon:nth-child(2) img {
    transform: translateX(10%);

}

.brandIcon:nth-child(3) img {
    transform: translateX(3%);

}

.brandIcon:last-child img {
    width: 58%;
}



.brandIcon h4 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 7.109004%;

}

.brandIcon h4::after {
    content: '';
    max-width: 121px;
    padding-top: 2.5%;
    margin: 0 auto;
    display: block;
    border-bottom: 2px solid #000;
}

.brandIcon:nth-child(1) h4::after {
    border-bottom: 2px solid #26AE23;
}

.brandIcon:nth-child(2) h4::after {
    border-bottom: 2px solid #E76FAF;
}

.brandIcon:nth-child(3) h4::after {
    border-bottom: 2px solid #F1C309;
}

.brandIcon:nth-child(4) h4::after {
    border-bottom: 2px solid #F27D2F;
}

.brandIcon p {
    font-size: 18px;
    line-height: 1.4;
}

@media screen and (max-width:1023px) {
    .brandIcons {
        display: flex;
        padding: 0 10px;
        margin-bottom: 7%;
    }

    .brandIcon {
        width: 19.5%;
    }

}

@media screen and (max-width:767px) {
    .brandIcons {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 35px;
    }

    .brandIcon {
        width: 100%;
        display: flex;
        gap: 9%;
        margin-bottom: 25px;

    }

    .brandIcon h4 {
        text-align: left;
    }

    .brandIcon h4::after {
        margin: 0;
        max-width: 100%;
    }

    .brandIconContent {

        margin-top: 20px;
    }

    .brandContent:nth-child(2) {
        margin-bottom: 75px;
    }


}


/* 2.brandIcons 區塊end*/


/* 3.brandContentcollage 區塊start*/

.brandContentcollage {
    aspect-ratio: 1200 / 461.2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.7%;
    row-gap: 4.423243%;
    grid-template-rows: repeat(4, 21.682567%);

    grid-template-areas:
        "apple okra dpg redradish smp smp"
        "potato okra dpg banana smp smp"
        "peach peach dpg banana kiwi oranges"
        "peach peach mushroom banana kiwi tomatos"
    ;

    margin-bottom: 80px;
}


.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.apple {
    grid-area: apple;
}

.potato {
    grid-area: potato;
}

.okra {
    grid-area: okra;
}

.peach {
    grid-area: peach;
}

.dpg {
    grid-area: dpg;
}

.mushroom {
    grid-area: mushroom;
}

.redradish {

    grid-area: redradish;
}

.banana {
    grid-area: banana;
}

.smp {

    grid-area: smp;
}

.kiwi {
    grid-area: kiwi;
}

.oranges {
    grid-area: oranges;
}

.tomatos {
    grid-area: tomatos;
}

.collage {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.collage h5 {
    font-size: 18px;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    text-align: center;
    padding: 6px 2px;
    line-height: 1.4;
    transition: bottom ease-in-out 0.3s;

}

.collage:hover h5 {
    bottom: 0%;

}

@media (max-width:1023px) {

    .brandContentcollage {

        width: 100%;

        aspect-ratio: 1200/ 900;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2%;
        row-gap: 2%;
        grid-template-rows: repeat(7, 17.5%);

        grid-template-areas:
            "apple apple oranges okra"
            "potato tomatos tomatos okra"
            "peach peach smp smp"
            "peach peach smp smp"
            "mushroom kiwi kiwi redradish"
            "dpg dpg banana banana"
            "dpg dpg banana banana"

        ;

        margin-bottom: 40vw;
    }


    .collage h5 {
        bottom: 0%;
    }

}

@media (max-width:767px) {

    .brandContentcollage {
        display: block;
        margin-bottom: 50px;

    }

    .brandContentcollage .collage {
        display: none;
    }


    .brandContentcollage .collage.fruitPhone,
    .brandContentcollage .collage.vegPhone,
    .brandContentcollage .collage.allPhone {
        display: block;
        aspect-ratio: 4/3;
        margin-bottom: 20px;
    }

}

/* 3.brandContentcollage 區塊end*/