/* 第一區section-shopItemWrap-start*/
/*  整個table設定*/

.shopCartWrap {
    padding: 0px 15px;

}

.shopItemWrap table {
    width: 100%;
    margin-bottom: 20px;
}

/* thead-start */


.shopItemWrap thead {
    width: 100%;
    background-color: #FFB055;

}

.shopItemWrap thead th {
    font-size: 28px;
    line-height: 60px;

}

.shopItemWrap thead th:last-child {
    text-align: left;
    padding-left: 3%;
}

.shopItemWrap thead .shopPrName {
    width: 40.833333%;
    padding-left: 10%;
}

.shopItemWrap thead .shopCash,
.shopItemWrap thead .shopNum {
    width: 18.333333%;
}

.shopItemWrap thead tr th:first-child {
    border-radius: 10px 0px 0px 0px;
}

.shopItemWrap thead tr th:last-child {
    border-radius: 0px 10px 0px 0px;

}

/* thead-end */

/* tbody-start */
.shopItemWrap tbody td:first-child {
    display: flex;
    align-items: center;

    gap: 15px;
}

.shopItemWrap tbody td:first-child h3 {
    line-height: 1.4;
}

.shopItemWrap tbody tr {
    border-bottom: 1px dotted black;
}

.shopItemWrap tbody tr td {
    vertical-align: middle;
    font-size: 26px;
    padding: 20px 0px;
}

.shopItemWrap tbody tr td:nth-child(2) {
    text-align: center;
}

.shopItemWrap tbody .shopNumWrap {
    display: flex;
    align-items: center;
    width: 155px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #7d7d7d;
    border-radius: 6px;
    overflow: hidden;

}

.subtotalWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7px;

}

.shopItemWrap tbody .shopNumWrap input {
    width: calc(100% - 76px);
    text-align: center;
    height: 38px;
    font-size: 26px;
    border: none;
    border-left: 1px solid #7d7d7d;
    border-right: 1px solid #7d7d7d;
    outline: none;
}

.shopItemWrap tbody .shopNumWrap button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: none; */
    background-color: white;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    /* 確保按鈕不縮小 */
    flex-grow: 0;
}

.shopItemWrap tbody tr td:last-child {
    padding-left: 3%;
}


.shopItemWrap tbody td:first-child div {
    min-width: 160px;
    width: 40.8%;
    aspect-ratio: 1 / 1;
}

.shopItemWrap tbody td:first-child div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tbody-end */

/* tfoot-start */

.shopItemWrap tfoot tr {
    border-top: 2px solid #E67E06;
}

.shopItemWrap tfoot td {
    font-size: 28px;
}

.shopItemWrap tfoot td {
    padding: 20px 0px;
    text-align: center;

}

.shopItemWrap tfoot td span {
    padding-left: 10px;
    padding-right: 3px;
}

.shopItemWrap tfoot .CheckAmount span {
    color: rgb(198, 0, 0);
    font-size: 32px;
}

/* tfoot-end */

/* 第一區section-shopItemWrap-end*/


/* 第二區section-shopItemWrap-start*/
.shopInfoWrap fieldset label {
    font-size: 26px;
}

.shopInfoWrap fieldset {
    margin-bottom: 15px;
}

.shopInfoWrap fieldset legend {
    width: 100%;
    font-size: 28px;
    background-color: #FFEEB8;
    padding: 10px 0px 10px 15px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 25px;
}

.shopInfoWrap fieldset input {
    font-size: 25px;
    padding: 5px 0px 5px 10px;
}

.shopInfoWrap .recipientWrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 15px;
}

.shopInfoWrap .recipientWrap div {
    width: 50%;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.shopInfoWrap .recipientWrap label {
    width: 58px;
}

.shopInfoWrap .recipientWrap input {
    width: calc(100% - 85px);
    height: 40px;
}

/* 運送方式start */

.shopInfoWrap .deliveryWrap>div {
    padding-left: 15px;
}

.shopInfoWrap .deliveryMethod {
    display: flex;
    gap: 20px;
}

.shopInfoWrap .address {
    display: block;
}

.deliveryMethod {
    margin-bottom: 18px;
}

.deliveryMethod div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.deliveryMethod input {
    width: 26px;
    height: 26px;
}

/* 宅配的地址選擇start */

.deliveryAddress {
    pointer-events: none;
    opacity: 0;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.deliveryAddress input {
    height: 40px;
    width: calc(100% - 382px);
}

.deliveryAddress select {
    padding-left: 10px;
    font-size: 23px;
    width: 149px;
    height: 40px;
    appearance: none;
    background-image: url('../img/shopCart/addressDropArrow.png');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 21px;
}

.deliveryAddress .townSelect {
    width: 171px;
}


/* 宅配的地址選擇end */

/* famSevWrap超商的選擇全家或小七start */

.famSevWrap div {

    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.famSevWrap input[type="radio"] {
    width: 25px;
    height: 25px;
}

.famSevWrap input[type="text"] {
    width: 70.5%;
}

.famSevWrap label {
    text-align: center;
    font-size: 25px;
    width: 145px;
    line-height: 41px;
    border-radius: 5px;
    color: white;

}

.famWrap label {
    background: linear-gradient(to bottom,
            #12C047 0%,
            #12C047 50%,
            #2BA5EA 50%,
            #2BA5EA 100%);
}

.sevWrap label {
    background: linear-gradient(to bottom,
            #F2822C 0%,
            #F2822C 32%,
            #009d71 32%,
            #009d71 68%,
            #DB3300 68%,
            #DB3300 100%);
}

.famSevWrap button {
    width: 130px;
    font-size: 24px;
    background-color: #FFFAE9;
    border-radius: 5px;
    border: 1.5px solid #000;
    box-shadow: 1px 1px 1px #6262629f;
    line-height: 38px;
}

/* famSevWrap超商的選擇全家或小七end */

/* 運送方式end */

/* 付款方式start */

.paymentMethodWrap,
.cardInfo {
    padding-left: 15px;
}


.paymentMethodWrap {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.paymentMethodWrap div {
    display: flex;
    gap: 10px;
}

.paymentMethodWrap input[type="radio"] {
    width: 26px;
    height: 26px;
}

/*  cardInfo 區塊start*/

.cardInfo {
    margin-bottom: 15px;
}

.cardInfo .cardNumWrap,
.cardDateWrap,
.cardCvcWrap {
    display: flex;
    align-items: center;
}

.cardInfo label {
    width: 160px;
}

.cardInfo .cardNumWrap input {
    width: 15%;
    margin-right: 15px;
}

.cardNumWrap {
    margin-bottom: 20px;
}

.cardDateCvcWrap {
    width: 77.5%;
    display: flex;
    justify-content: space-between;

}

.cardDateCvcWrap div:first-child {
    width: 60%;
}

.cardDateCvcWrap div:last-child {
    width: 38%;
}

.cardDateCvcWrap .cardDateWrap label {
    width: 160px;
}

.cardDateCvcWrap .cardCvcWrap label {
    width: 105px;
}

.cardDateCvcWrap .cardDateWrap input {
    width: calc(100% - 160px);
}

.cardDateCvcWrap .cardCvcWrap input {
    width: calc(100% - 105px);
}

/*  cardInfo 區塊end*/

/* 付款方式end */

/* 發票類型 start*/

.invoiceWrap {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.invoiceWrap div {
    display: flex;
    gap: 10px;
}

.invoiceWrap input[type="radio"] {
    width: 26px;
    height: 26px;
}

.phoneInvoiceWrite,
.phoneInvoiceWrite {
    width: 52.5%;
    margin-bottom: 15px;
    margin-left: 15px;

}

/* 發票類型 end*/

/* 備註事項start */

.shopInfoWrap textarea {
    width: 100%;
    resize: vertical;
    min-height: 180px;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}

/* 備註事項end */

/* 確認結帳送出按鈕start */
.ConfirmPayBtn {
    border: none;
    min-width: 165px;
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 28px;
    letter-spacing: 1.5px;
    background-color: #F88400;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
}

/* 確認結帳送出按鈕end */
/* 第二區section-shopItemWrap-end*/