.memberWrap {

    padding-top: 0px;

}

.registerGenderWrap {

    margin-bottom: 25px;
}

.GenderTitle {
    display: block;
    margin-bottom: 15px;
}

.GenderContent {
    display: flex;
    gap: 30px;
}

/* 自訂義radio樣式start */
.registerGenderWrap input[type="radio"] {
    display: none;

}

.registerGenderWrap .radioCustom {
    display: flex;
    gap: 14px;
    cursor: pointer;
    align-items: center;

}

.radioOuterLine {
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    border: 2px solid #bc6500;
    border-radius: 50%;
}

.registerGenderWrap input[type="radio"]:checked+label .radioOuterLine::after {
    content: '';
    display: block;
    width: 13.5px;
    height: 13.5px;
    background-color: #bc6500;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -50%);

}

/* 自訂義radio樣式end */

.writeTextWrap.confirmPassWrap {
    margin-bottom: 35px;
}