main {
    min-height: calc(100vh - 553px);
    margin-bottom: 60px;
}

.memberForgetContent p {
    max-width: 260px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    font-size: 18px;
}

.memberForgetContent form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.memberForgetContent form input {
    width: 100%;
    height: 54px;
    font-size: 24px;
    padding-left: 20px;
    background-color: #FFFDEC;
    border: 1px solid #000;
}

.memberForgetContent button {
    font-size: 24px;
    width: 40%;

    border: none;
    background-color: #F88400;
    padding: 10px 0;
    cursor: pointer;


}