.memberWrap .writeTextWrap p {
    width: 76%;
    margin: 0 auto;

    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 20px;
    background-color: rgb(255, 242, 218);
    border-radius: 10px;
}

.memberWrap .writeTextWrap input {
    margin-bottom: 10px;
}