/* 內頁-banner-start */
body {
    padding-top: 152px;
}

.innerBanner {
    position: relative;
    height: auto;

}

.innerBannerContent {

    display: flex;
    position: relative;

    gap: 40px;

    margin-bottom: 110px;

}

.bannerBgImg {
    width: 78%;
    aspect-ratio: 1500 / 406.5;

}

.bannerBgImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.bgBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 0;

    background-color: #FFECC2;
}

.innerBannerTitle {
    margin-top: 9%;

}

.innerBannerTitle h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
}

.innerBannerTitle p {

    font-size: 31px;
    font-family: "Noto Serif TC", serif;
    font-weight: 500;

}

.innerBannerTitle span {
    display: inline-block;
    width: 70px;
    border-bottom: 1px dashed #000;
    margin-left: 5px;
}




@media (max-width: 1250px) {
    body {
        padding-top: 144px;
    }

    .bannerBgImg {
        width: 75%;
    }

    .innerBannerTitle {
        margin-top: 8%;

    }

    .innerBannerTitle h2 {
        font-size: 34px;
    }

    .innerBannerTitle p {
        font-size: 24px;
    }

    .bannerBgImg {


        aspect-ratio: 1500 / 450;

    }


}

@media (max-width: 1023px) {

    .innerBannerTitle span {
        display: none;
    }


}



@media (max-width: 767px) {


    .innerBannerContent {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .bgBlock {
        display: none;
    }


    .bannerBgImg {
        width: 100%;
        opacity: 0.95;

        aspect-ratio: 1500 / 600;

    }

    .innerBannerTitle {
        position: absolute;
        color: rgb(0, 0, 0);
        text-align: center;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.845) 30%, rgba(255, 255, 255, 0.96) 70%, rgba(255, 255, 255, 0.901) 100%);
        border-radius: 5px;
        padding: 10px 30px 10px 100px;
        bottom: 0;
        right: 0px;

    }

    .innerBannerTitle h2 {

        font-size: 30px;
        text-shadow:
            0px 0px 1px #fff;

    }

    .innerBannerTitle p {
        font-size: 20px;
        text-shadow:
            0px 0px 1px #fff;
    }


    .innerBannerTitle h2 {
        font-size: 32px;
        margin-bottom: 5px;
    }

    .innerBannerTitle p {
        font-size: 23px;
        padding-bottom: 5px;
    }

}





/* 內頁-banner-end */